@font-face {
  font-family: "Minecraft";
  src: url("./fonts/Minecraft.woff2") format("woff2"),
    url("./fonts/Minecraft.woff") format("woff"),
    url("./fonts/Minecraft.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  overflow: auto;
}
section {
  font-family: "Minecraft";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
section h1 {
  font-size: 6rem;
  letter-spacing: 0.4em;
}
#intro {
  background-image: url(./img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
}

#intro-nav {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro-nav__buttons {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
}

.intro-nav__buttons li {
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: aliceblue;
  margin: 1rem;
  cursor: pointer;
}
.intro-nav__buttons li a {
  text-decoration: none;
}
.intro-nav__buttons li:hover {
  background-color: rgb(224, 138, 103);
}
#instructions {
  padding: 2rem;
  background-image: url(./img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
}
